.mapMenu {
  position: absolute;
  z-index: 999;
  left: 0;
  bottom: 0;
  padding: 0.2rem 0.2rem 0.2rem 0.6rem;
  border-top-right-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
